pkgbase = pharo-launcher
	pkgdesc = Pharo Launcher helps you manage your Pharo images
	pkgver = 3.1.1
	pkgrel = 3
	epoch = 1
	url = http://www.pharo-project.org/
	arch = x86_64
	license = MIT
	makedepends = gendesk
	makedepends = libcurl-gnutls
	depends = glibc
	depends = libgit2
	source = https://github.com/pharo-project/pharo-launcher/releases/download/3.1.1/PharoLauncher-linux-3.1.1-x64.zip
	source = local://pharo.conf
	source = local://launcher-patch.st
	source = https://files.pharo.org/media/logo/icon-opaque-512x512.png
	md5sums = cedba3fa83d6a80418315df8c95473ad
	md5sums = b2e30a17b522ee265fd57fe7c45592fc
	md5sums = c74b8fc7c1e23c60b1b2030afaead26c
	md5sums = b8323c1d7421dce18db921ae83ff8409

pkgname = pharo-launcher
